body {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid black;
}
.nav-container {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    overflow: hidden;
}
.nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 17px;
}
.nav-items li {
    margin-right: 10px;
    padding: 5px 5px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
header {
    text-align: center;
}
header img {
    width: 100%;
    height: 700px;
    margin-bottom: 10px;
}
.jurusan {
    display: flex;
    justify-content:  space-around;
    margin-top: 40px;
}
.jurusan div {
    text-align: center;
}
.circle {
    width: 100%;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.horizontal-line {
    border: none;
    height: 2px; 
    background-color: black;
    width: 100%; 
}

.centered-text {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.content {
    flex-direction: row;
    display: flex;
    margin-bottom: 20px;
}
.content > div {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}
footer > p {
    text-align: end;
}
.message th {
    text-align: left;
}

th {
    text-align: left;
}
fieldset {
    width: 400px; 
}

/* Mobile */
@media screen and (max-width: 600px) {
    /* Adjust styles for screens with a maximum width of 600 pixels */
    header {
        font-size: 18px;
    }

    .img-slideshow {
        height: auto;
    }
} 
